

/*registrazione*/

#FormRegistrazione {
  margin-bottom: 30px;
  margin: auto;
  margin-top: 150px;
  max-width: 400px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

#FormRegistrazione h1 {
  text-align: center;
  margin-bottom: 20px;
}

#FormRegistrazione label {
  display: block;
  margin-bottom: 5px;
}

#FormRegistrazione input[type="text"],
#FormRegistrazione input[type="email"],
#FormRegistrazione input[type="password"] {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#FormRegistrazione input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #51758d;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#FormRegistrazione input[type="submit"]:hover {
  background-color: #43667e;
}

#forgot-pass {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #51758d;
}

#forgot-pass:hover {
  color: #43667e;
}

.display {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #4b4b4b;
}

.notDisplay {
  display: none;
}

.fa-circle-question {
  color: #2370a6;
  transition: 0.5s;
}

.fa-circle-question:hover {
  color: #bc2047;
}
/* stile per laptop dimensioni s*/
