/* GENERALE */
:root {
    /* COLORI */
    --VERDE: rgb(0, 199, 0);
    --GIALLO: rgb(246, 255, 0);
    --ARANCIONE: rgb(255, 149, 0);
    --ROSSO: rgb(255, 0, 0);
    --NON-DEFINITO: rgb(97, 97, 97);
}

.verde {
    background: var(--VERDE);
}

.giallo {
    background: var(--GIALLO);
}

.arancione {
    background: var(--ARANCIONE);
}

.rosso {
    background: var(--ROSSO);
}

.non-definito {
    background: var(--NON-DEFINITO);
}


.footer {
    width: 100%;
    padding: 3px 150px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #51758d;
    color: #ffffff;
  }
  
  .testo-footer {
    margin: auto;
  }
  